substitutions:
  company_name: FutureProofHomes
  project_name: Satellite1

packages:
  # This is an inline package to prefix the on_client_connected with the wait_until action
  # It must appear before the actual package so it becomes the orignal config and the
  # on_client_connected list from the package config is appended onto this one.
  va_connected_wait_for_ble_and_flasher:
    voice_assistant:
      on_client_connected:
        - wait_until:
            not: ble.enabled
        - wait_until:
            not: memory_flasher.in_progress
        - delay: 2s
    
    wifi:
      on_disconnect:
        - ble.enable:
      on_connect:
        - delay: 5s  # Gives time for improv results to be transmitted
        - ble.disable:
    
    satellite1:
      on_xmos_no_response:
        then:
          - if:
              condition:
                - lambda: return id(init_in_progress);
                - lambda: return id(xflash).has_image_embedded();
              then:
                - memory_flasher.write_embedded_image:
      
      on_xmos_connected:
        then:
          - delay: 1s
          - script.execute: control_leds
          - if: 
              condition:
                - lambda: return id(init_in_progress);
                - lambda: return id(xflash).has_image_embedded();
                - lambda: return !id(xflash).match_embedded( id(satellite1_id).xmos_fw_version );
              then:
                - memory_flasher.write_embedded_image:

  home-assistant-voice: !include satellite1.base.yaml

esphome:
  project:
    name: ${company_name}.${project_name}
    version: ${esp32_fw_version}

esp32_improv:
  authorizer: btn_action
  on_start:
    - lambda: id(improv_ble_in_progress) = true;
    - script.execute: control_leds
  on_provisioned:
    - lambda: id(improv_ble_in_progress) = false;
    - script.execute: control_leds
  on_stop:
    - lambda: id(improv_ble_in_progress) = false;
    - script.execute: control_leds

http_request:

external_components:
    # FPH Custom Components
  - source:
      type: local
      path: ../esphome/components
    components:
        - fusb302b
        - memory_flasher
        - pcm5122
        - satellite1
        - tas2780
    # i2s_audio from esphome with shared i2s bus support
    # resampler from esphome combined with microphone resampler from: https://github.com/esphome/esphome/pull/9675
  - source:
      type: local
      path: ../components
    components:
        - i2s_audio
  # ESPHome PRs for sendspin and related features
  - source:
      # https://github.com/esphome/esphome/pull/12253
      type: git
      url: https://github.com/esphome/esphome
      ref: 7f34908569650e5a8b8c83e6bf89fea561218880
    components: [mixer]
  - source:
      # https://github.com/esphome/esphome/pull/12256
      type: git
      url: https://github.com/esphome/esphome
      ref: 9148832ea4e54907bad71a24d4ced1ce6c862433
    components: [audio]
  - source:
      # https://github.com/esphome/esphome/pull/12254
      type: git
      url: https://github.com/esphome/esphome
      ref: 6006b896a691ad38d8045ac67564c168973d1a1d
    components: [resampler]
  - source:
      # https://github.com/esphome/esphome/pull/12258
      type: git
      url: https://github.com/esphome/esphome
      ref: bff22983a390352360796f8e1363127e0cd1f898
    components: [media_player]
  - source:
      # https://github.com/esphome/esphome/pull/12284
      type: git
      url: https://github.com/esphome/esphome
      ref: a6c0a861a014e64c67d46115eba8e5370777b80a
    components: [mdns, sendspin]
  - source:
      # https://github.com/esphome/esphome/pull/12429
      type: git
      url: https://github.com/esphome/esphome
      ref: 928204066ce0082404573ea1c6a0b58aeebbd7c6
    components: [file, http_request, media_source, speaker_source]


logger:
  deassert_rts_dtr: true
  hardware_uart: USB_SERIAL_JTAG
  level: debug
  logs:
    ltr_als_ps: WARN
    sendspin: DEBUG
    sendspin_media_source: DEBUG
    speaker_source_media_player: DEBUG
    i2s_audio.speaker: DEBUG
