substitutions:
  company_name: FutureProofHomes
  project_name: Satellite1

packages:
  # This is an inline package to prefix the on_client_connected with the wait_until action
  # It must appear before the actual package so it becomes the orignal config and the
  # on_client_connected list from the package config is appended onto this one.
  va_connected_wait_for_ble_and_flasher:
    voice_assistant:
      on_client_connected:
        - wait_until:
            not: ble.enabled
        - wait_until:
            not: memory_flasher.in_progress
        - delay: 2s

    wifi:
      on_disconnect:
        - ble.enable:
      on_connect:
        - delay: 5s  # Gives time for improv results to be transmitted
        - ble.disable:

    satellite1:
      on_xmos_no_response:
        then:
          - if:
              condition:
                - lambda: return id(init_in_progress);
                - lambda: return id(xflash).has_image_embedded();
              then:
                - memory_flasher.write_embedded_image:

      on_xmos_connected:
        then:
          - delay: 1s
          - script.execute: control_leds
          - if:
              condition:
                - lambda: return id(init_in_progress);
                - lambda: return id(xflash).has_image_embedded();
                - lambda: return !id(xflash).match_embedded( id(satellite1_id).xmos_fw_version );
              then:
                - memory_flasher.write_embedded_image:

  home-assistant-voice: !include satellite1.base.yaml

esphome:
  project:
    name: ${company_name}.${project_name}
    version: ${esp32_fw_version}

# Dashboard import enables automatic updates from GitHub
dashboard_import:
  package_import_url: github://remcom/Satellite1-ESPHome/config/satellite1-dashboard.yaml@main
  import_full_config: false

esp32_improv:
  authorizer: btn_action
  on_start:
    - lambda: id(improv_ble_in_progress) = true;
    - script.execute: control_leds
  on_provisioned:
    - lambda: id(improv_ble_in_progress) = false;
    - script.execute: control_leds
  on_stop:
    - lambda: id(improv_ble_in_progress) = false;
    - script.execute: control_leds

http_request:
  buffer_size_rx: 2048
  buffer_size_tx: 1024
  timeout: 30s

external_components:
  # FPH Custom Components
  - source:
      type: local
      path: ../esphome/components
    components:
      - memory_flasher
      - satellite1
  # i2s_audio from esphome with shared i2s bus support
  # resampler from esphome combined with microphone resampler from: https://github.com/esphome/esphome/pull/9675
  - source:
      type: local
      path: ../components
    components:
      - i2s_audio
      - resampler
      - tas2780
      - pcm5122
      - fusb302b
      - dac_switcher
  # ESPHome PRs for sendspin and related features
  - source:
      # https://github.com/esphome/esphome/pull/12256
      type: git
      url: https://github.com/esphome/esphome
      ref: a2d98e1d5e020200db8f3caf27a74a939a661dc4
    components: [audio]
  - source:
      # https://github.com/esphome/esphome/pull/12258
      type: git
      url: https://github.com/esphome/esphome
      ref: b4b7c5b25ebe0f2ab988f700219fa3c57b2377b7
    components: [media_player]
  - source:
      # https://github.com/esphome/esphome/pull/12284
      type: git
      url: https://github.com/esphome/esphome
      ref: d48058e140c98f5c2d902661d851a6b712d62434
    components: [sendspin]
  - source:
      # https://github.com/esphome/esphome/pull/14013
      type: git
      url: https://github.com/esphome/esphome
      ref: 51dcce3d1f22865ebb458a5447bbc877ac946b5a
    components: [mdns]
  - source:
      # https://github.com/esphome/esphome/pull/12429
      type: git
      url: https://github.com/esphome/esphome
      ref: b49b09b6ae56502aa3ce51be86f90d732d019b2c
    components: [file, http_request, media_source, speaker_source]

logger:
  deassert_rts_dtr: true
  hardware_uart: USB_SERIAL_JTAG
  level: debug
  logs:
    ltr_als_ps: WARN
    sendspin: DEBUG
    sendspin_media_source: DEBUG
    speaker_source_media_player: DEBUG
    i2s_audio.speaker: DEBUG

ota:
  - platform: http_request
    id: ota_http_request

update:
  - platform: http_request
    name: None
    id: update_http_request
    source: https://github.com/remcom/Satellite1-ESPHome/releases/download/latest/satellite1-manifest.json

switch:
  - platform: template
    id: beta_firmware
    name: Beta firmware
    icon: "mdi:test-tube"
    entity_category: diagnostic
    optimistic: true
    restore_mode: RESTORE_DEFAULT_OFF
    on_turn_on:
      - logger.log: "OTA updates set to use Beta firmware"
      - lambda: id(update_http_request).set_source_url("https://github.com/remcom/Satellite1-ESPHome/releases/download/beta/satellite1-manifest.json");
      - component.update: update_http_request
    on_turn_off:
      - logger.log: "OTA updates set to use Production firmware"
      - lambda: id(update_http_request).set_source_url("https://github.com/remcom/Satellite1-ESPHome/releases/download/latest/satellite1-manifest.json");
      - component.update: update_http_request
